@charset "UTF-8";

body {
    background: rgb(70, 142, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

header {
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-variant-caps: all-small-caps;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.181);
}

section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;

}